body {
    background-image: url('img/logo.PNG');
    background-color: rgb(0, 0, 39);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0;                     
    font-family: Arial, sans-serif; 
    height: 100vh;               
    overflow: hidden;       
    display: flex;                
    justify-content: center;
    align-items: flex-end;
}

.inicio-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 40px;
}