@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

body{
  margin: 0;
}

#titulo {
  background-color: rgb(0, 0, 39);
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Contrail One', sans-serif;
  justify-content: space-between;
  font-size: 40px;
}

#tituloTexto {
  margin: 0;
}

#tituloTexto p{
  margin: 0;
}

#titulo p {
  order: 1;
}

#nombre-jugador-display {
  font-size: 30px;
}

#titulo img{
  height: 7%;
  width: 7%;
  order: 2;
}

#tablero {
  background-image: url(/img/9259344.jpg);
  padding:2%;
}

#tableroSup {
    display:flex;
    margin-bottom: 2%;
}


h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#tableroSup img {
    width: 110px;
    height: 145px;
}

.pilaInicial{
    margin-right: 1%;
    margin-bottom: 0%;
    padding: 0%;
    width: 110px;
    height: 145px;
    border-radius: 8px;
    position: relative;
}

.pilaInicial img {
    position: absolute;
    margin: 0;
    padding: 0;
}

.pilaRobo {
    border: 3px solid black;
    width: 110px;
    height: 145px;
    border-radius: 8px;
    margin-right: 20%;
}


.pilaRobo img {
    position: absolute;
}

.pilaGanada {
    border: 3px solid black;
    width: 110px;
    height: 145px;
    position: relative;
    border-radius: 8px;
    margin-right: 10px;
}


#tablero img {
    border: 3px solid black;
    border-radius: 8px;
}

.pilaJugable {
    position: relative;
    height: 1000px;
    width: 100px;
}

#tableroInf {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 0%;
  margin-left: 20%;
  margin-right: 20%;
}

.claseCartaGanada {
  position: absolute;
}

.claseCarta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: auto; 
  transform: translateY(calc(var(--index) * 50px));
  z-index: var(--index); 
}
   
  .claseCarta:nth-child(1) {
    --index: 1;
  }
   
  .claseCarta:nth-child(2) {
    --index: 2;
  }
   
  .claseCarta:nth-child(3) {
    --index: 3;
  }

  .claseCarta:nth-child(4) {
    --index: 4;
  }
  .claseCarta:nth-child(5) {
    --index: 5;
  }
  .claseCarta:nth-child(6) {
    --index: 6;
  }
  .claseCarta:nth-child(7) {
    --index: 7;
  }

  .claseCarta:nth-child(8) {
    --index: 8;
  }
  .claseCarta:nth-child(9) {
    --index: 9;
  }
  .claseCarta:nth-child(10) {
    --index: 10;
  }
  .claseCarta:nth-child(11) {
    --index: 11;
  }
  .claseCarta:nth-child(12) {
    --index: 12;
  }
  .claseCarta:nth-child(13) {
    --index: 13;
  }
  .claseCarta:nth-child(14) {
    --index: 14;
  }
  .claseCarta:nth-child(15) {
    --index: 15;
  }
  .claseCarta:nth-child(16) {
    --index: 16;
  }
  .claseCarta:nth-child(17) {
    --index: 17;
  }
  .claseCarta:nth-child(18) {
    --index: 18;
  }
  .claseCarta:nth-child(19) {
    --index: 19;
  }
  .claseCarta:nth-child(20) {
    --index: 20;
  }